<div class="m-5">
    <div class="row ubication">
        <div class="col-md-2">
            <app-menu-trabajo></app-menu-trabajo>
        </div>
        <div class="col-md-10">
            <h6 class="titulo let user of allUser">Evaluaciones </h6> <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Año</th>
                  <th scope="col">Nivel de riezgo</th>
                  <th scope="col">Nivel de estress</th>
                  <th scope="col">Priorizado 1</th>
                  <th scope="col">Priorizado 2</th>
                  <th scope="col">Priorizado 3</th>
                  <th scope="col">Comentarios (Personalidad)</th>
                  <th scope="col">Comentarios (Afrontamiento)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">5f22445eae4c17261113d2ed</th>
                  <td>2020</td>
                  <td>Medio</td>
                  <td>Alto</td>
                  <td>Alto</td>
                  <td>Alto</td>
                  <td>Medio</td>
                  <td>Editado como ejemplo</td>
                  <td>Editado como ejemplo</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
