
.color{
    background-color: turquoise;
    margin-top: 2%;
    padding: 5%;
    border-bottom-right-radius: 1em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    color: teal;
    z-index: 2%;
}