.container{
    margin-top: 2%;
}


.color{
    background-color:#00c9c9;
    margin-top: 2%;
    border-bottom-right-radius: 1em;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 5, 5);
    z-index: -1;
}

.nombre{
    border-bottom-right-radius: 1em;
    z-index: -3;
    width: 25em;
    margin-top: 0.5%;
}