<!-- <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Registrar Trabajadores</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Registrar Intervenciones</a>
            
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true">Generar Reportes</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" routerLink='/' role="tab" aria-controls="v-pills-settings" aria-selected="true">Salir</a>
       
      </div>
    </div>
  </div> -->

  <div class="container">
    <h6 class="titulo">GESTIÓN</h6>
    <nav class="menuGestion">
      <ul>
        <li> <a href="#">Registro Trabajadores</a></li>
        <li class="dropdown"><a href="#">Registro Intervenciones</a>
          <div class="dropdown-content">
          <ul>
            <li><a href="#">Talleres</a></li>
            <li><a href="#">Consejerías</a></li>
          </ul>
          </div>
        </li>
        <li><a href="#">Generación Reportes</a></li>
        <li><a routerLink='/'>Salir</a></li>     
      </ul>
    </nav>
  </div>