
  <div class="">
    <h6 class="titulo">GESTIÓN</h6>
    <nav class="menuGestion">
      <ul>
        <li> <a href="#">Registro Trabajadores</a></li>
        <li class="dropdown"><a href="#">Registro Intervenciones</a>
          <div class="dropdown-content">
          <ul>
            <li><a href="#">Talleres</a></li>
            <li><a href="#">Consejerías</a></li>
          </ul>
          </div>
        </li>
        <li><a href="#">Generación Reportes</a></li>
        <li><a routerLink='/'>Salir</a></li>     
      </ul>
    </nav>
  </div>