<div class="m-5">
    <div class="row ubication">
        <div class="col-md-2">
            <app-menu-trabajo></app-menu-trabajo>
        </div>
        <div class="col-md-10">
            <h6 class="titulo let user of allUser">TALLERES </h6> <br>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Duraci&oacute;n</th>
                  <th scope="col">Lugar</th>
                  <th scope="col">Temas</th>
                  <th scope="col">Participantes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Higiene del sue&&ntilde;o</td>
                  <td>2020-03-14</td>
                  <td>1 hora</td>
                  <td>Ecopetrol</td>
                  <td>Varios</td>
                  <td>20</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Manejo del estres</td>
                  <td>2020-06-03</td>
                  <td>1 hora</td>
                  <td>U. Rosario</td>
                  <td>Varios</td>
                  <td>12</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Autocuidado</td>
                  <td>2020-08-21</td>
                  <td>45 min</td>
                  <td>Zoom</td>
                  <td>Varios</td>
                  <td>37</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
