
<div class="container">
    <div class="row">
        <div class="col - 6">
            <app-menu-trabajo></app-menu-trabajo>
        </div>
        <div class="col - 6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sit aliquam, molestias veritatis aut doloremque, cum deleniti ab perferendis reiciendis omnis quisquam esse assumenda perspiciatis. Minima nobis at maxime doloribus odio, ex eius perspiciatis perferendis cumque iste ratione officiis provident quos illum consequatur, nesciunt, doloremque fugiat dolore aspernatur quis. Qui, accusantium harum ex illo quos nihil quod assumenda, ducimus, molestiae quaerat animi. Deserunt fugiat aperiam voluptatum recusandae? Repudiandae nulla assumenda quos earum temporibus nihil omnis, nostrum aperiam esse facere veniam similique voluptate impedit tempora incidunt quae accusamus quasi? Pariatur debitis cupiditate ipsa similique dicta animi explicabo repudiandae nisi libero doloribus.</p>
        </div>
    </div>
</div>