<div class="m-5">
    <div class="row ubication">
        <div class="col-md-2">
            <app-menu-trabajo></app-menu-trabajo>
        </div>
        <div class="col-md-10">
            <h6 class="titulo let user of allUser">BIENVENIDO/A </h6> <br>
            <div class="card-md-3">
	        	<div class="card-heager">
	        		<i class="fa fa-envelope"></i>
	        		Recientes
	        	</div>
	        	<div class="list-group list-group-flush small">
	        		<a class="list-group-item list-group-item-action" href="#">
	        			<div class="media">
	        				<img class="d-flex mr-3 rounded-circle" src="https://placehold.it/45x45" alt="">
	        				<div class="media-body">
	        					<strong>Maria Fernanda</strong> agreg&&oacute; una nueva evaluaci&&oacute;n
	        					<div class="text-muted smaller">Hoy 5:43 PM - hace 5m </div>
	        				</div>
	        			</div>
	        		</a>
	        		<a class="list-group-item list-group-item-action" href="#">
	        			<div class="media">
	        				<img class="d-flex mr-3 rounded-circle" src="https://placehold.it/45x45" alt="">
	        				<div class="media-body">
	        					<strong>Andres Segura</strong> agreg&&oacute; un nuevo registro de taller
	        					<div class="text-muted smaller">Hoy 4:37 PM - hace 1 hora </div>
	        				</div>
	        			</div>
	        		</a>
	        		<a class="list-group-item list-group-item-action" href="#">
	        			<div class="media">
	        				<img class="d-flex mr-3 rounded-circle" src="https://placehold.it/45x45" alt="">
	        				<div class="media-body">
	        					<strong>Andres Segura</strong> agreg&&oacute; un nuevo registro de taller
	        					<div class="text-muted smaller">Hoy 4:25 PM - hace 1 hora </div>
	        				</div>
	        			</div>
	        		</a>
	        		<a class="list-group-item list-group-item-action" href="#">
	        			<div class="media">
	        				<img class="d-flex mr-3 rounded-circle" src="https://placehold.it/45x45" alt="">
	        				<div class="media-body">
	        					<i class="fa fa-code-fork"></i>
	        					<strong>Monica Dennis</strong>agreg&&oacute; un nuevo registro de empleado
	        					<div class="text-muted smaller">Ayer 2:27 PM - hace 1 d&&iacute;a </div>
	        				</div>
	        			</div>
	        		</a>
	        		<a class="list-group-item list-group-item-action" href="#">Revisar toda la actividad...</a>
	        	</div>
        	</div>
        	<br><br>
        	<div class="card-md-3">
	        	<div class="card-heager">
	        		<i class="fa fa-bell-o"></i>
	        		Notificaciones
	        	</div>
	        	<div class="list-group list-group-flush small">
	        		<a class="list-group-item list-group-item-action" href="#">
	        			<div class="media">
	        				<img class="d-flex mr-3 rounded-circle" src="https://placehold.it/45x45" alt="">
	        				<div class="media-body">
	        					<strong>Taller</strong> pendiente por terminar
	        					<div class="text-muted smaller">Hoy 7:00 PM</div>
	        				</div>
	        			</div>
	        		</a>
	        		<a class="list-group-item list-group-item-action" href="#">Revisar toda las notificaciones...</a>
	        	</div>
        	</div>
        </div>
    </div>
</div>