<div class="container">
    <div class="row ubication">
        <div class="col-md-3">
            <app-menu-trabajo></app-menu-trabajo>
        </div>
        <div class="col-md-9">

            <h6>BIENVENIDO/A</h6> <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error laboriosam rerum, voluptatum, doloremque officiis, nulla mollitia omnis saepe id perspiciatis dolorem dolor eius? Cumque quisquam dicta non doloribus ducimus.</p>
        </div>
    </div>
</div>