.footer{
    margin-top: 7%;
    padding-top: 0.5%;
    padding-left: 3%;
    bottom: 0;
    width: 100%;
    background-color: #00c9c9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.derechos{
    padding-top: 0.4%;
    padding-left: 2%;
    display: flex;
}

.redes {
    padding-top: 0.5%;
    padding-left: 4%;
    display: flex;
    justify-content: space-evenly;
    text-align: initial;
}

i {
    font-size: 2em;
    color: white;
}

i:hover{
    transform: translateY(-15px);
}

