<div class="container footer">
    <div class="row">
      <div class="col-sm-3 derechos">
        <h6> Desarrollado por mafe.hior </h6>       
        <a href="https://github.com/fehiora" class="github"><i class="fab fa-github" ></i></a>
      </div>
        <div class="col-sm-9 redes">
              <h6>Contáctame</h6>
              <a href="https://api.whatsapp.com/send?phone=573208845954" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
              <a href="https://www.linkedin.com/in/maria-orozco-54393746/" class="linkedin"><i class="fab fa-linkedin"></i></a>
              <a href="https://twitter.com/FEHIORA" class="twitter"><i class="fab fa-twitter"></i></a>     
      </div>
</div>

