<form #userSignin = "ngForm" (ngSubmit) = "userSignin();" >
    <div class="row">
        <div class="col">
            <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="user.nombre"/>
        </div>
        <div class="col">
            <input type="text" name="apellido" id="apellido" #apellido="ngModel" [(ngModel)]="user.apellido"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="number" name="documento" id="documento" #documento="ngModel" [(ngModel)]="user.documento"/>
        </div>
        <div class="col">
            <input type="number" name="tarjetaProfesional" id="tarjetaProfesional" #tarjetaProfesional="ngModel" [(ngModel)]="user.tarjetaProfesional"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" name="licenciaSo" id="licenciaSo" #licenciaSo="ngModel" [(ngModel)]="user.licenciaSo"/>
        </div>
        <div class="col">
            <input type="number" name="celular" id="celular" #celular="ngModel" [(ngModel)]="user.celular"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email"/>
        </div>
        <div class="col">
            <input type="text" name="contrasenia" id="contrasenia" #contrasenia="ngModel" [(ngModel)]="user.contrasenia"/>
        </div>
    </div>

    <button>REGISTRARSE</button>

</form>